// variables
// Basic Multiplier for all values || Fib or Bit values test
// BaseRatio: 42

$breakpoints:(
    mobile: 560px,
    tablet:  960px,
    laptop: 1280px,
    desktop: 1440px,
    full:  1920px,
);

@mixin breakpoint($br){
  @if map-has-key($breakpoints, $br){
    @media screen and (min-width: map-get($breakpoints, $br)){
      @content;
    }
  }
}

// content spacer and settings
$maxWidth: 1920px;
$gap: 18px;
$spacer: 54px;

// grid values
// spacer and grid value from top
$GridConfig: (
    columns: (
      base: 4,
      medium: 8,
      large: 12
    ),
    columnWidth: 1fr,
    min-width: 320px,
    max-width: $maxWidth,
    gridSwap: (
        first: map-get($breakpoints, tablet),
        second: map-get($breakpoints, desktop)
    ),
    rows: auto,
    // row map = for each element of $rows 
    row: (
        header: 100vh,
        main: auto,
        footer: auto
    )
);

$fontSizes: (
  h1: 42px,
  h2: 38px,
  h3: 34px,
  h4: 30px,
  h5: 26px,
  h6: 22px,
  text: 18px,
);

// Line Height = LH
$baseLH: 22px;
// $baseBorder: 1px solid map-get($themes, map-get(light, border));
$baseBorder: 1px solid red;
$baseTransi: 420ms ease-in-out;